*{
      margin: 0;
      padding: 0;
      border: 1px red solid;
}
body{
      background: rgba(0, 0, 0, 0.2);
      font-family: sans-serif;
      padding: 10px;
      padding-bottom: 200px;
}
.top{
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo-idn{
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.logo-eng{
      gap: 10px;
      display: flex;
}
.profile{
      display: flex;
}
.profile h2{
      margin-right: 20px;
}
.nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo-navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
}
.logo-univ{
      height: 5rem;
      width: 5rem;
      background: black;
}
.main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
}
.img-main{
      background-size: cover;
      background-image: url(/img/jeshoots-com--2vD8lIhdnw-unsplash.jpg);
      width: 100%;
      height: 20rem;
}
@media(max-width: 600px){
.top{
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo-idn{
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.logo-eng{
      gap: 10px;
      display: flex;
}
.logo-eng .indo{
      background-image: url(/img/flag-us-svgrepo-com.svg);
      width: 2rem;
      height: 2rem;
      background-size: cover;
      cursor: pointer;
}
.logo-eng .eng{
      background-image: url(/img/flag-for-flag-indonesia-svgrepo-com.svg);
      width: 2rem;
      height: 2rem;
      background-size: cover;
      cursor: pointer;
}
.logo-eng .indo:hover{
      translate: 2px;
}
.profile{
      display: flex;
}
.profile h2{
      margin-right: 20px;
}
.nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo-navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
}
.logo-univ{
      display: flex;
}
.main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
}
.img-main{
      background-size: cover;
      background-image: url(/img/jeshoots-com--2vD8lIhdnw-unsplash.jpg);
      width: 100%;
      height: 10rem;
}
.main p{
      text-align: center;
      font-size: 12px;
}
.main a{
      text-decoration: none;
      color: black;
      font-size: 14px;
}
.main a:hover{
      color: blue;
}
.profile-nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
}
/* fakta */
.fakta{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
}
.fakta p, .pendidikan p, 
.riset p, .pimpinan p,
.kunjungan p
{
      width: 5rem;
      height: 5rem;
      background: black;
}
.fakta table tr{
      gap: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}
table a{
      text-decoration: none;
}
/* pendidikan */
.pendidikan{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
}
.pendidikan table tr{
      gap: 14rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}
/* riset */
.riset{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}
.riset table tr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12rem;
}
/* inovasi */
.inovasi{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;     
}
.inovasi table tr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12rem;
}
.pimpinan{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}
.pimpinan table tr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12rem;
}
/* kunjungan */
.kunjungan{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: flex-start;
}
.kunjungan table tr{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12rem;
}
/* location */
.location{
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
}
.location h3{
      background: rgba(0, 0, 255, 0.5);
}
.location .location-satu{
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: space-evenly;
}
.location-satu .logo{
      display: flex;
      width: 3rem;
      height: 3rem;
      background: black;
      border: 1px blue solid;
}
.location-satu span{
      background: black;
}
/* foother */
.foother{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
}
.sosial-media{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.copy{
      display: flex;
      justify-content: center;
      align-items: center;
}
}