<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>Document</title>
    <script src="../js/script.js"></script>
  </head>
  <body>
    <!-- top -->
    <div class="top">
      <div class="logo">
        <img src="../img/990861.svg" alt="" />
        <h4>Pertanian <span>Ellyn</span></h4>
      </div>
      <div class="info">
        <a href="#"
          ><i class="bx bx-envelope"></i> <span>ellynsaputra@gmail.com</span></a
        >
        <a href="https://maps.app.goo.gl/m3XgbgeTWJRNYcgd8">
          <i class="bx bx-location-plus"></i
          ><span>Pertanian Bontominasa</span></a
        >
        <a href="#"
          ><i class="bx bxl-whatsapp"></i> <span>085657070591</span></a
        >
      </div>
    </div>
    <!-- navigation -->
    <nav>
      <div class="produk">
        <div class="produk-utama">
          <h5>Produk</h5>
          <ul>
            <li><a href="">Kangkung</a></li>
            <li><a href="">Kacang Panjang</a></li>
            <li><a href="">Pisang</a></li>
          </ul>
        </div>
      </div>
      <div class="olahan">
        <h5>Olahan</h5>
        <ul>
          <li><a href="">Kangkung</a></li>
          <li><a href="">Kacang Panjang</a></li>
          <li><a href="">Pisang</a></li>
        </ul>
      </div>
      <div class="profil">
        <h5>Profil</h5>
        <ul>
          <li><a href="">Lahan</a></li>
          <li><a href="">Pengelola</a></li>
        </ul>
      </div>
      <div class="media">
        <h5>Sosmed</h5>
        <ul>
          <li><a href="">whatsapp</a></li>
          <li><a href="">facebook</a></li>
          <li><a href="">instagram</a></li>
        </ul>
      </div>
    </nav>
    <!-- main -->
    <main>
      <section>
        <div class="img-main">
          <img src="../img/b3adcc71-f3f9-49f1-bf86-c43aacf0c8a0.jpg" />
        </div>
        <div class="descripsi">
          <h2>Pertanian Sayuran Segar Ellyn Saputra</h2>
          <p>
            Kami menyediakan sayur berkualitas dari pertanian yang sangat
            terkontrol, tanpa menggunakan pestisidan dan hanya menggunakan pupuk
            organik. kebersihan dan kesegaran terjamin
          </p>
          <a href="#">Pesan Sekarang</a>
        </div>
      </section>
      <section>
        <div class="body">
          <div class="text-body">
            <div class="icon-body">
              <img src="../img/990861.svg" alt="" data-aos="zoom-in" data-aos-duration="1000"/>
              <p data-aos="fade-left" data-aos-duration="1000">Pertanian Sayur Modern</p>
              <h5 data-aos="fade-right" data-aos-duration="1000">Ramah dan Murah</h5>
            </div>
            <div class="icon-text">
              <h2 data-aos="fade-right" data-aos-duration="1000">Sehat dan Segar</h2>
              <h4 data-aos="fade-left" data-aos-duration="1000">- Order Now -</h4>
              <p data-aos="fade-up" data-aos-duration="1000">
                  "Kami menanam dan menyediakan berbagai macam sayuran dan buah-buahan segar dari lahan pertanian kami serta mitra petani terpercaya. Dengan kontrol kualitas yang ketat, kami memastikan setiap produk memenuhi standar kesehatan dan keamanan pangan."
              </p>
            </div>
            <div class="profit-body">
              <div class="icon-profit">
                <img src="../img/tractor-svgrepo-com.svg" alt="" data-aos="zoom-in" data-aos-duration="1000">
                <p data-aos="fade-up" data-aos-duration="1000">Dikelola menggunakan peralatan modern</p>
              </div>
              <div class="icon-profitc">
                <img src="../img/truck-svgrepo-com.svg" data-aos="zoom-in" data-aos-duration="1000">
                <p data-aos="fade-up" data-aos-duration="1000">Pengantaran cepat, aman dan terpercaya</p>
              </div>
              <div class="icon-profit" data-aos="zoom-in" data-aos-duration="1000">
                <p class="disc" data-aos="fade-up" data-aos-duration="1000">20%</p>
                <p>Banyak promo dan diskon dalam pembelian jumlah besar</p>
              </div>
            </div>
            <div class="syarat">
              <h2 data-aos="fade-left" data-aos-duration="1000">Sayur Sehat dan Segar</h2>
              <p data-aos="fade-right" data-aos-duration="1000">
                  "Semua hasil panen kami telah melewati pemeriksaan ketat untuk memastikan tidak mengandung zat berbahaya seperti pestisida berlebihan, nitrat, atau elemen toksik lainnya. Produk kami telah sesuai dengan standar medis dan sanitasi yang ditetapkan oleh Kementerian Kesehatan."
              </p>
            </div>
          </div>
          <div class="img-produk">
            <h2 data-aos="fade-up" data-aos-duration="1000">Daftar Produk Yang Kami Produksi</h2>
            <div class="card">
              <p data-aos="fade-left" data-aos-duration="1000">Sayur</p>
              <img src="../img/BSM _ TERMURAH Kangkung Akar Segar per Ikat _ Sayur Kangkung Akar per Ikat _ Sayur online.jpg" data-aos="zoom-in" data-aos-duration="1000"/>
              <h3 data-aos="fade-left" data-aos-duration="1000">Kangkung</h3>
              <p class="price" data-aos="fade-right" data-aos-duration="1000">Rp 50.000/60 Ikat</p>
            </div>
            <div class="card">
              <p data-aos="fade-left" data-aos-duration="1000">Sayur</p>
              <img src="../img/Kacang panjang.jpg" data-aos="zoom-in" data-aos-duration="1000" />
              <h3 data-aos="fade-left" data-aos-duration="1000">Kacang Panjang</h3>
              <p class="price" data-aos="fade-right" data-aos-duration="1000">Rp 50.000/55 Ikat</p>
            </div>
            <div class="card">
              <p data-aos="fade-left" data-aos-duration="1000">Sayur</p>
              <img src="../img/Banana Plants_ Pisang Awak Variety.jpg" data-aos="zoom-in" data-aos-duration="1000"/>
              <h3 data-aos="fade-left" data-aos-duration="1000">Pisang</h3>
              <p class="price" data-aos="fade-right" data-aos-duration="1000">Rp 30.000/5 Tandan</p>
            </div>
          </div>
        </div>
      </section>
      <div class="foother">
            <a href="">Beranda</a>
            <a href="">Profil</a>
            <a href="">Ketentuan</a>
            
      </div>
    </main>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
  </body>
</html>
