<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <!-- top -->
  <div class="atas">
    <div class="logo-idn">
      <div class="logo-eng">
        <a class="indo"><img src="../img/indonesia.png"></a>
        <a class="eng"><img src="../img/united-kingdom.png"></a>
      </div>
    </div>
    <div class="profile">
      <h2>UGM</h2>
    </div>
  </div>

  <!-- navigation -->
   <div class="nav">
    <div class="logo-navigation">
      <a class="logo-univ">Logo Univ</a>
      <h2>Universitas Gaja Madah</h2>
    </div>
    <div class="hamburger">
      <p>hamburger</p>
      <!-- <i class="bx bxl-instagram"></i> -->
    </div>
   </div>

   <!-- main -->
    <div class="main">
      <div class="img-main">
        <div class="item-body">
          <h4>Tulisan dalam background</h4>
          <h2>Isi body tulisan sesuaikan</h2>
        </div>
        <img src="../img/koky.jpg">
      </div>
      <p>Pendidikan adalah cahaya yang membimbing manusia menuju pemahaman, kebijaksanaan, dan kemanusiaan. Ia membangun karakter, membuka wawasan, dan menanamkan nilai-nilai kehidupan. Melalui pendidikan, kita tidak hanya belajar untuk mengetahui, tetapi juga untuk menjadi, berbuat, dan hidup bersama. Pendidikan sejati menciptakan individu yang berdaya dan bertanggung jawab bagi dunia.</p>
      <a href="#">Selengkapnya</a>
    </div>

    <!-- profile -->
     <div class="profile-nav">
      <div class="video">Video</div>
      <!-- fakta -->
      <div class="fakta">
        <p>logo</p>
        <h3>Fakta dan Angka</h3>
        <table>
          <tbody>
            <tr>
              <td>QS World Rankings 2025</td>
              <td>2025</td>
            </tr>
            <tr>
              <td>QS Asian Rankings 2025</td>
              <td>2025</td>
            </tr>
            <tr>
              <td>THE World Rankings 2025</td>
              <td>2025</td>
            </tr>
            <tr>
              <td>THE Asia Rankings 2024</td>
              <td>2025</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- pendidikan -->
      <div class="pendidikan">
        <p>logo</p>
        <h3>Pendidikan dan Pengajaran</h3>
        <table>
          <tbody>
            <tr>
              <td>Multikampus</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Fakultas dan Sekolah</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Program Studi</td>
              <td>57</td>
            </tr>
            <tr>
              <td>Join Degrees</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Dosen</td>
              <td>1.200</td>
            </tr>
            <tr>
              <td>Mahasiswa</td>
              <td>27.400</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- riset -->
      <div class="riset">
        <p>logo</p>
        <h3>Riset</h3>
        <table>
          <tbody>
            <tr>
              <td>Pusat</td>
              <td>26</td>
            </tr>
            <tr>
              <td>Pusat Unggulan Iptek</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Pusat Penelitian</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Kelompok Keahlian</td>
              <td>113</td>
            </tr>
            <tr>
              <td>Labolatorium</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Scopus Jurnal</td>
              <td>2.000</td>
            </tr>
            <tr>
              <td>International Jurnal</td>
              <td>549</td>
            </tr>
            <tr>
              <td>Procedings International</td>
              <td>600</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- inovasi -->
      <div class="inovasi">
        <p>logo</p>
        <h3>Inovasi</h3>
        <table>
          <tbody>
            <tr>
              <td>Pusat</td>
              <td>26</td>
            </tr>
            <tr>
              <td>Pusat Unggulan Iptek</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Pusat Penelitian</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Kelompok Keahlian</td>
              <td>113</td>
            </tr>
            <tr>
              <td>Labolatorium</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Scopus Jurnal</td>
              <td>2.000</td>
            </tr>
            <tr>
              <td>International Jurnal</td>
              <td>549</td>
            </tr>
            <tr>
              <td>Procedings International</td>
              <td>600</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- pimpinan -->
      <div class="pimpinan">
        <h3>Pimpinan</h3>
        <p>logo</p>
        <table>
          <tbody>
            <tr>
              <td>Pusat</td>
              <td>26</td>
            </tr>
            <tr>
              <td>Pusat Unggulan Iptek</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Pusat Penelitian</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Kelompok Keahlian</td>
              <td>113</td>
            </tr>
            <tr>
              <td>Labolatorium</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Scopus Jurnal</td>
              <td>2.000</td>
            </tr>
            <tr>
              <td>International Jurnal</td>
              <td>549</td>
            </tr>
            <tr>
              <td>Procedings International</td>
              <td>600</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- kunjungan -->
      <div class="kunjungan">
        <p>logo</p>
        <h3>Kunjungan</h3>
        <table>
          <tbody>
            <tr>
              <td>Pusat</td>
              <td>26</td>
            </tr>
            <tr>
              <td>Pusat Unggulan Iptek</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Pusat Penelitian</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Kelompok Keahlian</td>
              <td>113</td>
            </tr>
            <tr>
              <td>Labolatorium</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Scopus Jurnal</td>
              <td>2.000</td>
            </tr>
            <tr>
              <td>International Jurnal</td>
              <td>549</td>
            </tr>
            <tr>
              <td>Procedings International</td>
              <td>600</td>
            </tr>
            <tr>
              <td><a href="#">More</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- location -->
      <div class="location">
        <div class="location-satu">
          <div class="logo"></div>
          <div class="body">
            <h3>Name University</h3>
            <p>jl.jendral sudirman</p>
            <p>Samata, Gowa, Sulawesi Selatan</p>
            <p>Indonesia 40132</p>
            <p><span>logo</span>univ@univ.ac.id</p>
          </div>
        </div>
        <div class="location-satu">
        <div class="logo"></div>
        <div class="body">
          <h3>Name University</h3>
          <p>jl.jendral sudirman</p>
          <p>Samata, Gowa, Sulawesi Selatan</p>
          <p>Indonesia 40132</p>
          <p><span>logo</span>univ@univ.ac.id</p>
        </div>
        </div>
        <div class="location-satu">
        <div class="logo"></div>
        <div class="body">
          <h3>Name University</h3>
          <p>jl.jendral sudirman</p>
          <p>Samata, Gowa, Sulawesi Selatan</p>
          <p>Indonesia 40132</p>
          <p><span>logo</span>univ@univ.ac.id</p>
        </div>
        </div>
      </div>
     </div>

     <!-- foother -->
      <div class="foother">
        <div class="sosial-media">
          <div class="facebook">
            <p>ikon facebook</p>
          </div>
          <div class="instagram">
            <p>instagram</p>
          </div>
          <div class="x">
            <p>x</p>
          </div>
          <div class="tiktok">
            <p>tiktok</p>
          </div>
          <div class="youtube">
            <p>youtube</p>
          </div>
        </div>
        <div class="copy">
          <p>berita</p>
          .
          <p>agenda kegiatan</p>
          .
          <p>fokus</p>
          .
          <p>E-Book</p>
        </div>
      </div>
</body>
</html>