<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../css/webSekolah.css" />
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <title>Web Sekolah</title>
  </head>
  <body>
      <!-- header -->
    <header>
      <div class="contact-head">
        <span>
          <i class="bx bxl-gmail"></i>
          <p>teck@gmail.com</p>
        </span>
        <span>
          <i class="bx bx-phone-outgoing"></i>
          <p>085657070591</p>
        </span>
      </div>
      <div class="sosial-head">
        <a href="https://www.facebook.com"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://wa.me/085657070591"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.myusril13_.com"><i class="bx bxl-twitter"></i></a>
        <a href="https://t.me/yusril"><i class="bx bxl-telegram"></i></a>
      </div>
    </header>
    <!-- navigasi -->
    <!-- <nav>
      <a href="">
        <i class="bx bx-home-alt-2"></i>
        <span>Beranda</span>
      </a>
      <a href="">
        <i class="bx bx-book-open"></i>
        <span>Profile</span>
      </a>
      <a href="">
        <i class="bx bx-globe"></i>
        <span>Artikel</span>
      </a>
      <a href="">
        <i class="bx bx-news"></i>
        <span>Informasi</span>
      </a>
      <a href="">
        <i class="bx bxs-contact"></i>
        <span>Kontak</span>
      </a>
      <a href="">
        <i class="bx bx-user-pin"></i>
        <span>Login</span>
      </a>
    </nav> -->
    <main>
      <section >
            <div class="first">
                  <p data-aos="fade-up" data-aos-duration="1000">Welcome to My School</p>
                  <h4 data-aos="fade-right" data-aos-duration="1000">Mencetak Generasi Yang Melek Teknologi</h4>
                  <p data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt exercitationem, expedita quidem at in ipsam provident atque accusantium necessitatibus aut!</p>
            </div>
            <div class="btn-first">
                  <a href="#">About</a>
                  <a href="#">Call</a>
            </div>
      </section>
      <!-- program -->
      <section>
            <div class="program">
                  <h2 data-aos="fade-right" data-aos-duration="1000">Program Studi</h2>
                  <p data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet omnis a quo incidunt, ipsum tempore aperiam veniam! Assumenda, sapiente quibusdam.</p>
            </div>
            <div class="card-program">
                  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                        <p data-aos="fade-right" data-aos-duration="1000">Program Coding</p>
                        <i class='card-icon bx bx-code-block' data-aos="fade-left" data-aos-duration="1000"></i>
                        <p class="card-desc" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque numquam atque corrupti at quaerat?</p>
                  </div>
                  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                        <p data-aos="fade-right" data-aos-duration="1000">Program Database</p>
                        <i class='card-icon bx bx-data' data-aos="fade-left" data-aos-duration="1000"></i>
                        <p class="card-desc" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque numquam atque corrupti at quaerat?</p>
                  </div>
                  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                        <p data-aos="fade-right" data-aos-duration="1000">Program Python</p>
                        <i class='card-icon bx bxl-python' data-aos="fade-left" data-aos-duration="1000"></i>
                        <p class="card-desc" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque numquam atque corrupti at quaerat?</p>
                  </div>
                  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                        <p data-aos="fade-right" data-aos-duration="1000">Program Photographi</p>
                        <i class='card-icon bx bx-photo-album' data-aos="fade-left" data-aos-duration="1000"></i>
                        <p class="card-desc" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque numquam atque corrupti at quaerat?</p>
                  </div>
                  <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                        <p data-aos="fade-right" data-aos-duration="1000">Program Fullstack PHP</p>
                        <i class='card-icon bx bxl-php' data-aos="fade-left" data-aos-duration="1000"></i>
                        <p class="card-desc" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque numquam atque corrupti at quaerat?</p>
                  </div>
            </div>
      </section>
      <!-- artikel dan berita -->
      <section>
            <div class="artikel" >
                  <h3 class="judul" data-aos="fade-right" data-aos-duration="1000">Artikel dan Berita</h3>
                  <p class="descripsi" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio aliquid nisi culpa cum. Nostrum facilis placeat quisquam distinctio eius.</p>
            </div>
            <div class="card-artikelc">
              <div class="card-artikel" data-aos="zoom-in" data-aos-duration="500">
                <img src="../img/Engineering and Physical Sciences Research Council (EPSRC).jpg" data-aos="fade-right" data-aos-duration="1000">
                <h3 data-aos="fade-left" data-aos-duration="1000">Penelitian Higgs Bosson</h3>
                <p class="date-artikel" data-aos="fade-left" data-aos-duration="1000">12/12/2024</p>
                <h5 data-aos="fade-left" data-aos-duration="1000"><i class='bx bx-user-circle'></i>Admin</h5>
                <p class="text-artikel" data-aos="fade-right" data-aos-duration="1000">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis totam natus dolorum eveniet sit? Quam!</p>
              </div>
              <div class="card-artikel" data-aos="zoom-in" data-aos-duration="500">
                <img src="../img/Free Photo _ Female medical or scientific researcher looking at a test tube in a laboratory_.jpg" data-aos="fade-right" data-aos-duration="1000">
                <h3 data-aos="fade-left" data-aos-duration="1000">Perkembangan Vaksin Covid19</h3>
                <p class="date-artikel" data-aos="fade-left" data-aos-duration="1000">12/12/2024</p>
                <h5 data-aos="fade-left" data-aos-duration="1000"><i class='bx bx-user-circle'></i>Admin</h5>
                <p class="text-artikel" data-aos="fade-right" data-aos-duration="1000">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis totam natus dolorum eveniet sit? Quam!</p>
              </div>
              <div class="card-artikel" data-aos="zoom-in" data-aos-duration="500">
                <img src="../img/Science & Pharmaceutical Salaries 2018 - IrishJobs Career Advice.jpg" data-aos="fade-right" data-aos-duration="1000">
                <h3 data-aos="fade-left" data-aos-duration="1000">Analisist Perkembangan Vaksinasi</h3>
                <p class="date-artikel" data-aos="fade-left" data-aos-duration="1000">12/12/2024</p>
                <h5 data-aos="fade-left" data-aos-duration="1000"><i class='bx bx-user-circle'></i>Admin</h5>
                <p class="text-artikel" data-aos="fade-right" data-aos-duration="1000">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis totam natus dolorum eveniet sit? Quam!</p>
              </div>
              <div class="card-artikel" data-aos="zoom-in" data-aos-duration="500">
                <img src="../img/Scientist researching in laboratory.jpg" data-aos="fade-right" data-aos-duration="1000">
                <h3 data-aos="fade-left" data-aos-duration="1000">Perkembangan DNA Costume</h3>
                <p class="date-artikel" data-aos="fade-left" data-aos-duration="1000">12/12/2024</p>
                <h5 data-aos="fade-left" data-aos-duration="1000"><i class='bx bx-user-circle'></i>Admin</h5>
                <p class="text-artikel" data-aos="fade-right" data-aos-duration="1000">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis totam natus dolorum eveniet sit? Quam!</p>
              </div>
              
            </div>
      </section>
      <!-- agenda dan kegiatan kami -->
      <section>
        <div class="agenda">
          <h3 data-aos="fade-left" data-aos-duration="1000">Agenda & Kegiaratan</h3>
          <p data-aos="fade-right" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nesciunt obcaecati et. Eum, nam quisquam!</p>
        </div>
        <div class="list-agenda">
          <div class="card-agendaa" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" data-aos="fade-left" data-aos-duration="1000">Makan</a>
          </div>
          <div class="card-agendab" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" data-aos="fade-left" data-aos-duration="1000">Tidur</a>
          </div>
          <div class="card-agendac" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" data-aos="fade-left" data-aos-duration="1000">Lucu</a>
          </div>
          <div class="card-agendad" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" data-aos="fade-left" data-aos-duration="1000">Makan Lagi</a>
          </div>
          <div class="card-agendae" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" data-aos="fade-left" data-aos-duration="1000">Lucu</a>
          </div>
        </div>
      </section>
      <!-- foother -->
      <section>
        <div class="foother">
          <h2>SMA <span>IT</span></h2>
          <h4>Mencetak generasi melek teknologi <span>Unggulan</span></h4>
          <a href="#">artikel</a>
          <a href="#">Agenda</a>
          <a href="#">Pengumuman</a>
          <a href="#">Prestasi</a>
          <h4>Temukan Kami</h4>
          <div class="sosmed">
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-whatsapp' ></i></a>
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-youtube' ></i></a>
          </div>
        </div>
      </section>
      <!-- copywrite -->
      <div class="copywr">
        <p class="copy">©Copyright.2025 Malaka-Project
            Made With SMA IT</p>
      </div>
    </main>
    <nav>
      <a href="#"><i class='bx bx-user-voice' ></i></a>
      <a href="#"><i class='bx bx-globe' ></i></a>
      <a href="#"><i class='bx bx-bar-chart-alt-2' ></i></a>
      <a href="#"><i class='bx bxl-xing' ></i></a>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
