<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../css/webSekolah.css" />
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <title>Web Sekolah</title>
  </head>
  <body>
      <!-- header -->
    <header>
      <div class="contact-head">
        <span>
          <i class="bx bxl-gmail"></i>
          <p>teck@gmail.com</p>
        </span>
        <span>
          <i class="bx bx-phone-outgoing"></i>
          <p>085657070591</p>
        </span>
      </div>
      <div class="sosial-head">
        <a href=""><i class="bx bxl-instagram"></i></a>
        <a href=""><i class="bx bxl-whatsapp"></i></a>
        <a href=""><i class="bx bxl-facebook"></i></a>
        <a href=""><i class="bx bxl-twitter"></i></a>
        <a href=""><i class="bx bxl-telegram"></i></a>
      </div>
    </header>
    <!-- navigasi -->
    <!-- <nav>
      <a href="">
        <i class="bx bx-home-alt-2"></i>
        <span>Beranda</span>
      </a>
      <a href="">
        <i class="bx bx-book-open"></i>
        <span>Profile</span>
      </a>
      <a href="">
        <i class="bx bx-globe"></i>
        <span>Artikel</span>
      </a>
      <a href="">
        <i class="bx bx-news"></i>
        <span>Informasi</span>
      </a>
      <a href="">
        <i class="bx bxs-contact"></i>
        <span>Kontak</span>
      </a>
      <a href="">
        <i class="bx bx-user-pin"></i>
        <span>Login</span>
      </a>
    </nav> -->
    <main>
      <section >
            <div class="first">
                  <p data-aos="fade-up" data-aos-duration="1000">Welcome to My School</p>
                  <h4 data-aos="fade-right" data-aos-duration="1000">Mencetak Generasi Yang Melek Teknologi</h4>
                  <p data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt exercitationem, expedita quidem at in ipsam provident atque accusantium necessitatibus aut!</p>
            </div>
            <div class="btn-first">
                  <a href="#">About</a>
                  <a href="#">Call</a>
            </div>
      </section>
      <!-- program -->
      <section>
            <div class="program">
                  <h2 data-aos="fade-up" data-aos-duration="1000">Program Studi</h2>
                  <p data-aos="fade-up" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet omnis a quo incidunt, ipsum tempore aperiam veniam! Assumenda, sapiente quibusdam.</p>
            </div>
            <div class="card-program">
                  <div class="card" data-aos="fade-up" data-aos-duration="1000">
                        <p>Program Coding</p>
                        <i class='bx bx-code-block'></i>
                  </div>
                  <div class="card" data-aos="fade-up" data-aos-duration="1000">
                        <p>Program Coding</p>
                        <i class='bx bx-code-block'></i>
                  </div>
                  <div class="card" data-aos="fade-up" data-aos-duration="1000">
                        <p>Program Coding</p>
                        <i class='bx bx-code-block'></i>
                  </div>
                  <div class="card" data-aos="fade-up" data-aos-duration="1000">
                        <p>Program Coding</p>
                        <i class='bx bx-code-block'></i>
                  </div>
                  <div class="card" data-aos="fade-up" data-aos-duration="1000">
                        <p>Program Coding</p>
                        <i class='bx bx-code-block'></i>
                  </div>
            </div>
      </section>
      <!-- artikel dan berita -->
      <section>
            <div class="artikel">
                  <h3>Artikel dan Berita</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio aliquid nisi culpa cum. Nostrum facilis placeat quisquam distinctio eius.</p>
            </div>
            <div class="card-artikel"></div>
      </section>
      <section></section>
      <section></section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
